body {
  background-color: #222;
  color: white;
}

main {
  padding: 1rem;
}

@scope (.toys) {
  :scope {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem 1rem;

    * {
      margin: 0;
    }
  }

  article {
    display: grid;
    grid-template:
      "thumb" auto
      "title" auto
      "description" auto
      / auto;
    gap: 0.5rem;
  }

  h2 {
    grid-area: title;
  }

  p {
    grid-area: description;
  }

  iframe {
    grid-area: thumb;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border: 4px solid lightgray;
    outline: none;
    appearance: none;
  }

  a {
    justify-self: start;
    color: white;
  }
}
